package {{ model | get_package_path('repository') }};

import {{ model | get_package_path('model') }}.{{model.name}};
import org.springframework.data.mongodb.repository.MongoRepository;
import org.springframework.stereotype.Repository;

/**
 * @author {{ projectGeneralInfo.author }} - {{ projectGeneralInfo.date }}
 */

@Repository
public interface {{model.name + 'Repository'}} extends MongoRepository<{{model.name}}, String> {

}
