package {{ projectGeneralInfo.packageRoot }}.repository;

import {{ model | get_package_path('model') }}.{{model.name}};
import org.springframework.data.mongodb.repository.MongoRepository;
import org.springframework.stereotype.Repository;

/**
 * @author {{ projectGeneralInfo.author }} - {{ projectGeneralInfo.date }}
 */

@Repository
public interface {{model.name + 'Repository'}} extends MongoRepository<{{model.name}}, String> {


    /**
     * Please note that this is ONE-TIME generated repository class, and new generate will not overwrite it,
     * Write new repository functions HERE
     */
}
