package {{ projectGeneralInfo.packageRoot }}.service;

import {{ projectGeneralInfo.packageRoot }}.generated.service.BaseServiceImpl;
import {{ model | get_import_path('model') }}.{{ model.name }};
import {{ projectGeneralInfo.packageRoot }}.repository.{{ model.name }}Repository;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * @author {{ projectGeneralInfo.author }} - {{ projectGeneralInfo.date }}
 */

@Service
@Transactional
public class {{ model.name }}ServiceImpl extends BaseServiceImpl<{{ model.name }}> {

    @Autowired
    public {{ model.name }}ServiceImpl({{ model.name }}Repository repository) {
        super(repository);
    }

    /**
     * Note that this is ONE-TIME generated service class, that contains all BaseService methods,
     * plase override or write new ones HERE if it's needed
     */
}
