package {{ model | get_package_path('service') }};

import {{ model | get_import_path('model') }}.{{ model.name }};
import {{ model | get_import_path('repository') }}.{{ model.name }}Repository;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * @author {{ projectGeneralInfo.author }} - {{ projectGeneralInfo.date }}
 */

@Service
@Transactional
public class {{ model.name }}ServiceImpl extends BaseServiceImpl<{{ model.name }}> {

    private {{ model.name }}Repository repository;

    @Autowired
    public {{ model.name }}ServiceImpl({{ model.name }}Repository repository) {
        super(repository);
        this.repository = repository;
    }
}
